meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
title Retro Games
script(src='../js/phaser.js')
script(src='../js/menu.js')
script(src='../js/juego.js')
script(src='../js/gameover.js')
script(src='../js/principalmajestic.js') 